[submodule "FMDB"]
	path = FMDB
	url = https://github.com/ccgus/fmdb.git
[submodule "OAuthConsumer"]
	path = OAuthConsumer
	url = https://github.com/jdg/oauthconsumer.git
[submodule "iCarousel"]
	path = iCarousel
	url = https://github.com/nicklockwood/iCarousel.git
[submodule "json-framework"]
	path = json-framework
	url = https://github.com/stig/json-framework/
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "Oxygen-Icons"]
	path = Oxygen-Icons
	url = https://github.com/chadnickbok/Oxygen-Icons.git
[submodule "OHAttributedLabel"]
	path = OHAttributedLabel
	url = https://github.com/AliSoftware/OHAttributedLabel.git
[submodule "DTCoreText"]
	path = DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
[submodule "FileMD5Hash"]
	path = FileMD5Hash
	url = https://github.com/JoeKun/FileMD5Hash
[submodule "TestFlightLogger"]
	path = TestFlightLogger
	url = https://github.com/quellish/TestFlightLogger
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack
[submodule "InAppSettingsKit"]
	path = InAppSettingsKit
	url = https://github.com/futuretap/InAppSettingsKit.git
[submodule "Base64"]
	path = Base64
	url = https://github.com/nicklockwood/Base64.git
[submodule "dropbox-sdk-ios"]
	path = dropbox-sdk-ios
	url = https://github.com/dropbox-sdk-mirror/dropbox-sdk-ios.git
[submodule "FRLayeredNavigationController"]
	path = FRLayeredNavigationController
	url = https://github.com/mronkko/FRLayeredNavigationController
[submodule "CoconutKit"]
	path = CoconutKit
	url = https://github.com/defagos/CoconutKit.git
[submodule "CSLProcessor"]
	path = CSLProcessor
	url = https://github.com/mronkko/CSLProcessor
[submodule "uservoice-iphone-sdk"]
	path = uservoice-iphone-sdk
	url = https://github.com/uservoice/uservoice-iphone-sdk.git
