[submodule "fmdb"]
	path = fmdb
	url = https://github.com/ccgus/fmdb.git
[submodule "FMDB"]
	path = FMDB
	url = https://github.com/ccgus/fmdb.git
[submodule "Three20"]
	path = Three20
	url = https://github.com/facebook/three20.git
[submodule "OAuthConsumer"]
	path = OAuthConsumer
	url = https://github.com/jdg/oauthconsumer.git
[submodule "iCarousel"]
	path = iCarousel
	url = https://github.com/nicklockwood/iCarousel.git
[submodule "json-framework"]
	path = json-framework
	url = https://github.com/stig/json-framework/
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
