<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Basic settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>Not set</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Title</key>
			<string>Mode</string>
			<key>Key</key>
			<string>mode</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Online</string>
				<string>Offline</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>cachesizemax</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Max cache size</string>
			<key>Values</key>
			<array>
				<real>0.5</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>500</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>500 MB</string>
				<string>1 GB</string>
				<string>2 GB</string>
				<string>5 GB</string>
				<string>10 GB</string>
				<string>No limit</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Current cache size</string>
			<key>Key</key>
			<string>cachesizecurrent</string>
			<key>DefaultValue</key>
			<string>Unavailable</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>ZotPad will preemptively retrieve item data and attachments in the background. Adjusting these settings will affect how much bandwidth and disk space is used for this process. </string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Preemptive cache</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Item data</string>
			<key>Key</key>
			<string>preemptivecachemetadata</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Active libraries</string>
				<string>All libraries</string>
			</array>
			<key>Values</key>
			<array>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Attachment files</string>
			<key>Key</key>
			<string>preemptivecacheattachmentfiles</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Active items</string>
				<string>Active collections</string>
				<string>Active libraries</string>
				<string>All libraries</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>These preferences will reset ZotPad data when it is next started.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset username</string>
			<key>Key</key>
			<string>resetusername</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset item data</string>
			<key>Key</key>
			<string>resetitemdata</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Delete attachment files</string>
			<key>Key</key>
			<string>resetfiles</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
