<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Basic settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>Not set</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Title</key>
			<string>Mode</string>
			<key>Key</key>
			<string>mode</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Online</string>
				<string>Offline</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>cachesizemax</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Max cache size</string>
			<key>Values</key>
			<array>
				<real>0.1</real>
				<real>0.5</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>500</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>100 MB</string>
				<string>500 MB</string>
				<string>1 GB</string>
				<string>2 GB</string>
				<string>5 GB</string>
				<string>10 GB</string>
				<string>No limit</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Current cache size</string>
			<key>Key</key>
			<string>cachesizecurrent</string>
			<key>DefaultValue</key>
			<string>Unavailable</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>ZotPad will preemptively retrieve item data and attachments in the background. Adjusting these settings will affect how much bandwidth and disk space are used for this process. </string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Preemptive cache</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Item data</string>
			<key>Key</key>
			<string>preemptivecachemetadata</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Active libraries</string>
				<string>All libraries</string>
			</array>
			<key>Values</key>
			<array>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Attachment files</string>
			<key>Key</key>
			<string>preemptivecacheattachmentfiles</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Active items</string>
				<string>Active collections</string>
				<string>Active libraries</string>
				<string>All libraries</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Usernames and passwords will be asked when needed and stored securely in keychain. </string>
			<key>Title</key>
			<string>File service</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Store files in</string>
			<key>Key</key>
			<string>filechannel</string>
			<key>DefaultValue</key>
			<string>zotero</string>
			<key>Titles</key>
			<array>
				<string>Zotero file storage</string>
				<string>WebDAV (My Library) and Zotero file storage (Groups)</string>
				<string>Dropbox</string>
			</array>
			<key>Values</key>
			<array>
				<string>zotero</string>
				<string>webdavzotero</string>
				<string>dropbox</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>WebDAV address</string>
			<key>Key</key>
			<string>webdavurl</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Advanced Dropbox settings</string>
			<key>File</key>
			<string>Dropbox</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>These preferences will reset ZotPad data when it is next started.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset username</string>
			<key>Key</key>
			<string>resetusername</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset data</string>
			<key>Key</key>
			<string>resetdata</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Error reports and usage statistics</string>
			<key>FooterText</key>
			<string>ZotPad will automatically report errors and usage statistics in the background. The reports are anonymous and do not contain any of your data.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Report errors and usage statistics to developers</string>
			<key>Key</key>
			<string>errorreports</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
